:root {
  --white: #ffffff;
  --charcoal: #54595f;
  --pale-teal: #c0dbd5;
  --whisper-gray: #f6f7f9;
  --gray-chateau: #d8dde1;
  --cadet-blue: #5f6f7d;
  --black: #000000;
}

.about-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--catskill-white);
  color: var(--san-juan);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-text {
  font-size: 1.1rem;
  text-align: left;
  margin-top: 1rem;
  color: var(--san-juan);
}
