/* Contact Container */
.contact-container {
  display: flex;
  margin: 1.5rem 0rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-image: url("../images/contact/ContactPage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  position: relative;
}

.contact-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay color and opacity */
  z-index: 1; /* Ensures the overlay is above the background image but below the content */
}

.contact-container > * {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

.contact-us-title {
  font-family: "EB Garamond", sans-serif;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Form Styles */
.contact-form-label {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form-input {
  font-family: "Poppins", "Inter", sans-serif;
  max-width: 90%;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

/* Button Styles */
.submit-btn {
  margin-top: 20px;
  background-color: #111827;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  font-family: "Poppins", "Inter", sans-serif;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
}

.submit-btn:hover {
  background-color: #374151;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
