/* Contact Container */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* background-image: url("../images/max-stoiber-ejEdpGYGgrA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px; */
}

/* Form Styles */
.contact-form-label {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form-input {
  font-family: "Poppins", "Inter", sans-serif;
  max-width: 90%;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

/* Button Styles */
.submit-btn {
  background-color: #111827;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  font-family: "Poppins", "Inter", sans-serif;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
}

.submit-btn:hover {
  background-color: #374151;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  color: var(--cadet-blue);
  font-family: "Roboto", sans-serif;
}

.modal-content button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:first-child {
  background-color: var(--gray-chateau);
  color: var(--black);
}

.modal-content button:last-child {
  background-color: var(--cadet-blue);
  color: var(--white);
}

.modal-content button:hover {
  opacity: 0.8;
}
