:root {
  --white: #ffffff;
  --charcoal: #54595f;
  --pale-teal: #c0dbd5;
  --whisper-gray: #f6f7f9;
  --gray-chateau: #d8dde1;
  --cadet-blue: #5f6f7d;
  --black: #000000;
}

.footer-container {
  background-color: var(--pale-teal);
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cadet-blue);
}

.footer-flag-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.flag-attribution-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.flaticon-link {
  margin-bottom: 5px;
}

.attribution-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .footer-container {
    padding: 20px;
  }
  .attribution-link {
    margin-bottom: 0px;
  }
  .footer-flag-icon {
    margin-right: 12px;
  }
  .flag-attribution-container .flaticon-link {
    margin-bottom: 0;
  }
}
