:root {
  --white: #ffffff;
  --charcoal: #54595f;
  --pale-teal: #c0dbd5;
  --whisper-gray: #f6f7f9;
  --gray-chateau: #d8dde1;
  --cadet-blue: #5f6f7d;
  --black: #000000;
}

.footer-container {
  background-color: var(--pale-teal);
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cadet-blue);
}

.attribution-link:hover {
  color: #606060;
}

.unsplash-attribution-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.unsplash-attribution-container h3,
.icon-attribution-container h3 {
  margin: 0;
  font-size: 0.9rem;
}

.icon-attribution-container h3 {
  margin-bottom: 16px;
}

.unsplash-link,
.geek-click-link {
  margin-left: 5px;
  text-decoration: none;
  color: #808080;
  font-size: 0.9rem;
}

.unsplash-link:hover,
.geek-click-link:hover {
  color: #606060;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 20px;
  }
  .attribution-link {
    margin-bottom: 0px;
  }
  .footer-flag-icon {
    margin-right: 12px;
  }
  .flag-attribution-container .flaticon-link {
    margin-bottom: 0;
  }
}
