.home-container {
  background-image: url("../images/GingerHouseViewValley.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  filter: brightness(80%);
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.home-image {
  width: 100%;
  height: auto;
}

.home-text {
  font-size: 1.4rem;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
