.product-card {
  display: inline-block;
  margin: 10px;
  background-color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.card-image {
  height: 250px;
  width: 250px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 10px 10px 0 10px;
  background-color: black;
}

.dish-name-title {
  position: absolute;
  bottom: 40px;
  right: 20px;
  font-size: 0.9rem;
  color: #e6e6fa;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.card-button {
  text-align: center;
  align-items: center;
}

.card-button button {
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s;
  font-size: 1.2rem;
  font-family: "Oleo Script", sans-serif;
}
